{% extends "Layouts/main-layout.html" %}

<!-- Write all the css link tags inside the css block -->
{% block css %}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/about.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Montserrat:wght@200&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
{%endblock css %}

<!-- Write only the title(without the title tag inside the title block) -->
{% block title %} RoomieHub - About Page {% endblock title %}

<!-- Write all the main body content inside the content block -->
{% block content %}
<div class="navi-bar-row">
    <div class="navi-bar">
        <a href="">
            <div class="containerh">
                <i class="fa fa-home" style="font-size:36px"></i>
                <a class="head-css" href="">Home</a>
            </div>
        </a>
        <a href="">
            <div class="container" id="search">
                <i class="fa fa-search" style="font-size:36px"></i><br>
                <a class="head-css" href="">Search</a>
            </div>
        </a>
        <a href="">
            <div class="container" id="user">
                <details class="click-user">
                    <summary>
                        <i class="fa fa-user" style="font-size:36px"></i>
                        <a class="head-css" href="">Profile</a>
                    </summary>
                    <div class="list-content" id="main">
                        <a class="list-row" id="special" href="">Your Profile</a>
                    </div>
                    <div class="list-content" id="main">
                        <a class="list-row" id="special" href="">Logout</a>
                    </div>
                    </ul>
                </details>

            </div>
        </a>
        <a href="">
            <div class="container" id="about">
                <i class="fa fa-bolt" style="font-size:36px"></i><br>
                <a class="head-css" href="">Discover</a>
            </div>
        </a>
        <a href="">
            <div class="container" id="about">
                <i class="fa fa-info-circle" style="font-size:36px"></i><br>
                <a class="head-css" href="">About</a>
            </div>
        </a>

    </div>

    <div class="logo-div">
        <img class="logo"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/TinderLogo-2017.svg/2560px-TinderLogo-2017.svg.png">
        <p class="about-head" id="about-head-id">
            About Us
        </p>
    </div>
</div>
</div>

<div class="about-text-div">
    <p class="about-text">

        Looking for a roommate can be a daunting task, but a website that functions like Tinder can make it much easier.
        With a swipe of a finger, you can find potential roommates in your area who match your lifestyle and
        preferences. This platform allows you to set up a profile, input your interests, and search for compatible
        roommates based on their profiles.You can get to know them better before making any commitments. This website
        simplifies the roommate-finding process and increases your chances of finding a compatible roommate.

    </p>
</div>

<div class="people">
    <div class="song-row">
        <div class="song-image">
            <img class="img-song" id="img-id1" src="{{ url_for('static', filename='Media/vinit.png') }}">
        </div>
        <div class="info">
            <p class="song-info-name" id="a1">
                Vinit Mehta
            </p>
            <p class="song-info-artist" id="b1">
                2022111001
            </p>
            <p class="song-info-artist" id="b3">
                vinit.mehta@research.iiit.ac.in
            </p>
        </div>
    </div>
    <div class="song-row">
        <div class="song-image">
            <img class="img-song" id="img-id2" src="{{ url_for('static', filename='Media/ashwin.png') }}">
        </div>
        <div class="info">
            <p class="song-info-name" id="a2">
                Ashwin Kumar
            </p>
            <p class="song-info-artist" id="b2">
                2022101091
            </p>
            <p class="song-info-artist" id="b3">
                ashwin.kumar@students.iiit.ac.in
            </p>
        </div>
    </div>
    <div class="song-row">
        <div class="song-image">
            <img class="img-song" id="img-id3" src="{{ url_for('static', filename='Media/tanay.png') }}">
        </div>
        <div class="info">
            <p class="song-info-name" id="a3">
                Tanay Gad
            </p>
            <p class="song-info-artist" id="b3">
                2022101043
            </p>
            <p class="song-info-artist" id="b3">
                tanay.gad@students.iiit.ac.in
            </p>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Write all the script tags inside the js block -->
{% block js %}

{% endblock js %}