{% extends "Layouts/main-layout.html" %}

<!-- Write all the css link tags inside the css block -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/all-users.css') }}">
{%endblock css %}

<!-- Write only the title(without the title tag inside the title block) -->
{% block title %} RoomieHub - All Users {% endblock title %}

<!-- Write all the main body content inside the content block -->
{% block content %}
<div class="outer-block">
    {% for user in users %}
    <form action="/open-user-profile" method="POST">
        <!-- <input type="text" value="{{ user.username }}" name="username">
        <input type="submit" id="{{ user.username }}-button">
        <label for="{{ user.username }}-button"> -->
        <button type="Submit">
        <div class="user-div">
            <a href="{{ url_for('open_user_profile', username=user.username) }}">
                <img src="{{ url_for('static', filename='Media/profile_pictures/' + user.profile_photo) }}" alt="">
                <div class="details">
                    <h1>Name: {{ user.name }}</h1>
                    <h1>Username: {{ user.username }}</h1>
                </div>
            </a>
        </div>
        </button>
    </label>
    </form>
    {% endfor %}
{% endblock content %}
</div>

<!-- Write all the script tags inside the js block -->
{% block js %}

{% endblock js %}