<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/header-footer.css') }}">
    <link rel="stylesheet" type="text/css" href="profile-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    <div class="navi-bar-row">
        <div class="navi-bar">
            <a href="">
                <div class="containerh">
                    <i class="fa fa-home" style="font-size:36px"></i>
                    <a class="head-css" href="">Home</a>
                </div>
            </a>
            <a href="">
                <div class="container" id="search">
                    <i class="fa fa-search" style="font-size:36px"></i><br>
                    <a class="head-css" href="">Search</a>
                </div>
            </a>
            <a href="">
                <div class="container" id="user">
                    <details class="click-user">
                        <summary>
                            <i class="fa fa-user" style="font-size:36px"></i>
                    <a class="head-css"  href="">Profile</a>
                        </summary>
                        <div class="list-content" id="main">
                            <a class="list-row" id="special"href="">Your Profile</a>
                        </div>
                        <div class="list-content" id="main">
                            <a class="list-row"id="special" href="">Logout</a>
                        </div>
                        </ul>
                    </details>
                    
                </div>
            </a>
            <a href="">
                <div class="container" id="about">
                    <i class="fa fa-info-circle" style="font-size:36px"></i><br>
                    <a class="head-css" href="">About</a>
                </div>
            </a>
        </div>
    
        <div class="overlay1">
            <div class="your-profile">
                <p class="drop-text">
                    Your Profile
                </p>
            </div>
            <div class="logout">
                <p class="drop-text">
                    Logout
                </p>
            </div>
        </div>
    </div>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search ...">
        <button id="search-btn">Search</button>
        <label class="d" for="hostel-search" style="color: white">Hostel:</label>
        <select id="hostel-search">
            <option value="">All</option>
            <option value="Bakul"> Bakul</option>
            <option value="NBH"> NBH</option>
            <option value="OBH"> OBH</option>
            <option value="New Parijat"> New Parijat</option>
            <option value="Old Parijat"> Old Parijat</option>

         </select>
        <label class="d" for="branch-search" style="color: white">Branch:</label>
        <select id="branch-search">
           <option value="">All</option>
           <option value="CSE"> CSE</option>
           <option value="CSD"> CSD</option>
           <option value="CHD"> CHD</option>
           <option value="CLD"> CLD</option>
           <option value="CND"> CND</option>
           <option value="ECD"> ECD</option>
           <option value="ECE"> ECE</option>
           <option value="Other"> Other</option>
        </select>
        <button id="reset-filter-button"> Reset</button>
     </div>
</body>
</html> -->

{% extends "Layouts/main-layout.html" %}

<!-- Write all the css link tags inside the css block -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/search.css') }}">
{%endblock css %}

<!-- Write only the title(without the title tag inside the title block) -->
{% block title %} <name> - Search Page {% endblock title %}

<!-- Write all the main body content inside the content block -->
{% block content %}
    <div class="form-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset>
                <div class="form-group">
                    {{ form.username.label(class="username-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="username-textbox is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="username-textbox") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="year-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="year-radio is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="year-radio") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.course.label(class="course-label") }}
                    {% if form.course.errors %}
                        {{ form.course(class="course-radio is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.course.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.course(class="course-radio") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.gender.label(class="gender-label") }}
                    {% if form.gender.errors %}
                        {{ form.gender(class="gender-radio is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gender(class="gender-radio") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.preferred_hostel.label(class="preferred-hostel-label") }}
                    {% if form.preferred_hostel.errors %}
                        {{ form.preferred_hostel(class="preferred_hostel-dropdown is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.preferred-hostel.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.preferred_hostel(class="preferred-hostel-dropdown") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="search-btn") }}
            </div>
        </form>
    </div>
    {% if display == 't' %}
        {% if users %}
            <div class="cards">
                {% for user in users %}
                <a href="{{ url_for('open_user_profile', username=user.username) }}">
                    <div class="card">
                        <img src="{{ url_for('static', filename='Media/profile_pictures/' + user[7]) }}" alt="">
                        <h2>{{ user[2] }}</h2>
                        <h2>{{ user[1] }}</h2>
                        <h2>{{ user[15] }}</h2>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="empty">
                <h1>No Search Results Found</h1>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}

<!-- Write all the script tags inside the js block -->
{% block js %}

{% endblock js %}
