<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- These two css files are required in all webpages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/header-footer.css') }}">
    <link rel="stylesheet" type="text/css" href="profile-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    <div class="navi-bar-row">
        <div class="navi-bar">
            <a href="">
                <div class="containerh">
                    <i class="fa fa-home" style="font-size:36px"></i>
                    <a class="head-css" href="">Home</a>
                </div>
            </a>
            <a href="">
                <div class="container" id="search">
                    <i class="fa fa-search" style="font-size:36px"></i><br>
                    <a class="head-css" href="">Search</a>
                </div>
            </a>
            <a href="">
                <div class="container" id="user">
                    <details class="click-user">
                        <summary>
                            <i class="fa fa-user" style="font-size:36px"></i>
                    <a class="head-css"  href="">Profile</a>
                        </summary>
                        <div class="list-content" id="main">
                            <a class="list-row" id="special"href="">Your Profile</a>
                        </div>
                        <div class="list-content" id="main">
                            <a class="list-row"id="special" href="">Logout</a>
                        </div>
                            <!-- <li>Logout</li> -->
                        </ul>
                    </details>
                    
                </div>
            </a>
            <a href="">
                <div class="container" id="about">
                    <i class="fa fa-info-circle" style="font-size:36px"></i><br>
                    <a class="head-css" href="">About</a>
                </div>
            </a>
        </div>
    
        <div class="overlay1">
            <div class="your-profile">
                <p class="drop-text">
                    Your Profile
                </p>
            </div>
            <div class="logout">
                <p class="drop-text">
                    Logout
                </p>
            </div>
        </div>
    </div>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search ...">
        <button id="search-btn">Search</button>
        <label class="d" for="hostel-search" style="color: white">Hostel:</label>
        <select id="hostel-search">
            <option value="">All</option>
            <option value="Bakul"> Bakul</option>
            <option value="NBH"> NBH</option>
            <option value="OBH"> OBH</option>
            <option value="New Parijat"> New Parijat</option>
            <option value="Old Parijat"> Old Parijat</option>

         </select>
        <label class="d" for="branch-search" style="color: white">Branch:</label>
        <select id="branch-search">
           <option value="">All</option>
           <option value="CSE"> CSE</option>
           <option value="CSD"> CSD</option>
           <option value="CHD"> CHD</option>
           <option value="CLD"> CLD</option>
           <option value="CND"> CND</option>
           <option value="ECD"> ECD</option>
           <option value="ECE"> ECE</option>
           <option value="Other"> Other</option>
        </select>
        <button id="reset-filter-button"> Reset</button>
     </div>
</body>
</html>
