{% extends "Layouts/form-layout.html" %}

{% block css %}
    <style>
        .alert{
            text-align: center;
            position: relative;
            top: 20px;
            left: 10%;
            width: 80%;
            border-radius: 15px;
            padding: 20px;
            font-size: 30px;
            z-index: 0;
        }
        .form-container {
            position: relative;
            top: 100px;
            z-index: 0;
        }
    </style>
{% endblock css %}

{% block title %} Sign In {% endblock title %}

{% block content %}
    <div class="form-container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset>
                <div class="form-group">
                    {{ form.email.label(class="email-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="email-textbox is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="email-textbox") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="pass-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="password-textbox is-invalid password-field") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="password-textbox password-field") }}
                    {% endif %}
                    <div>
                        <input type="checkbox" id="show-password">
                        <label class="form-check-label" for="show-password">Show Password</label>
                    </div>
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="signUp-btn") }}
            </div>
            <small class="text-muted">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
        <div>
            <small class="text-muted">
                New User? <a href="{{ url_for('signUp') }}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}

{% block js %} 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#show-password').click(function() {
                if ($(this).is(':checked')) {
                    $('.password-field').attr('type', 'text');
                } else {
                    $('.password-field').attr('type', 'password');
                }
            });
        });
    </script>
{% endblock js %}